*{
    --meian-color:#f15e75;
}
.text-meian{
    color:var(--meian-color)
}
body {
    background-image: url(./../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
}

body:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: .8;
    z-index: -1;
    background: #f12711;
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    background: linear-gradient(to right, #f5af19, #f12711);
}
header{

    background-image: url(../img/hero-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 90vh;
}
.navbar {
    width: 93% !important;
}
.item-icon{
    transition: all 1s;
}


.item-icon:hover{
    color: #f12711;
    transform: scale(1.1);

}
.nav-link{
    
    transition: all 1s !important;
}

.nav-link:hover{
    color: #f5af19 !important;
}


/*  */
.item-immg{
    background-color:rgba(0, 0, 0, 0.1) !important;
}

.item-phph{
    transition: all 1s !important;  
}

.item-phph:hover{
    transform:scale(1.1) !important;
}
.work-photo{
    overflow: hidden;
    position: relative;
}
.work-photo:hover .work-photoo{
    top: 0;

}
.work-photoo{
    background-color: rgba(200, 150,0, 0.2);
    position: absolute;
    top: -600px;
    transition: all 1s;
    left: 0; 
    height: 100%;
    width: 100%
    ;

}


.nav-pills .nav-link{
    background-color: transparent !important;
color:  black!important;
transition: all 1s;
}
.nav-pills .nav-link:hover{
    color: #f12711 !important;
}
.item-imimg img{
    width: 100px !important;

}